.Dictionary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.Dictionary .search-box {
  margin: 15px;
  padding: 10px;
  text-align: center;
  border-block: 2px solid black;
}
